* {
  margin: 0;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Raleway', sans-serif;
  margin: auto;
}


.App-link {
  color: #61dafb;
}

.quote-box {
  padding: 40px 50px;
  width: 450px;
  max-width: 80%;
  background-color: #fff;
  border: 2px solid white;
  display: table;
  border-radius: 15px;

  /* position: relative; */

  .quote-text {
    text-align: center;
    font-weight: 500;
    font-size: 1.75em;
    height: auto;
    animation: fadeIn 3s;
  }

  .quote-author {
    text-align: right;
    font-size: 1.0em;
    padding: 20px 0;
  }

  .starButton{
    padding-left: 5px;
  }

  .button-container {
    float: right; 
  }

  button {
    height: 38px;
    border: none;
    color: black; 
  }

  .link-container {
    float: left
  }

  .twitterIcon{
    padding: 12px;
  }
  
}