* {
  margin: 0;
}


.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Raleway', sans-serif;
  margin: auto;

}


.App-link {
  color: #61dafb;
}

.signOut{
  position: absolute;
  top: 20px;
  right: 20px;

   button {
    background-color: gray;
    height: 35px;
    border-color: gray;
    border-radius: 5px;
   }
 
}


.quote-box {
  padding: 40px 50px;
  width: 450px;
  max-width: 80%;
  background-color: #fff;
  border: 2px solid white;
  display: table;
  border-radius: 15px;

  /* position: relative; */

  .quote-text {
    text-align: center;
    font-weight: 500;
    font-size: 1.75em;
    height: auto;


  }

  .quote-author {
    text-align: right;
    font-size: 1.0em;
    padding: 20px 0;
  }

  .buttons {
    height: 38px;
  }

  .button-container {
    float: right;

    button {
      height: 38px;
      border: none;
    }
  }

  .link-container {
    float: left;
  }
}